<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="theme" text-center>
        <ion-title>RESET PASSWORD</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Reset your password?</h2>
    <div class="form-box">
        <form [formGroup]="myform"  (submit)="changepassword(myform)">
            <ion-list no-lines>
                <ion-item>
                    <ion-input type="password" placeholder="Old password" formControlName="oldpass" [class.invalid]="!myform.controls.oldpass.valid && (myform.controls.oldpass.dirty)"></ion-input>
                </ion-item> 
                <ion-item class="error" *ngIf="!myform.controls.oldpass.valid  && (myform.controls.oldpass.dirty)">
                <p>Please enter your old password.</p>
                </ion-item>
                
                <ion-item>
                    <ion-input type="password" placeholder="New password" formControlName="newpass" [class.invalid]="!myform.controls.newpass.valid && (myform.controls.newpass.dirty)"></ion-input>
                </ion-item>
                <ion-item  class="error" *ngIf="!myform.controls.newpass.valid  && (myform.controls.newpass.dirty)">
                <p>Please enter your new password.</p>
                </ion-item>
                
                <ion-item>
                    <ion-input type="password" placeholder="Retype new password" formControlName="retypepass" [class.invalid]="!myform.controls.retypepass.valid && (myform.controls.retypepass.dirty)"></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="!myform.controls.retypepass.valid  && (myform.controls.retypepass.dirty)">
                <p>Please re-type your new password.</p>
                </ion-item>                
            </ion-list>
            <button ion-button full color="theme" class="custom-btn" type="submit" [disabled]="!myform.valid">Send</button>
        </form>
    </div>
</ion-content>
