page-notification {

  .custom-btn {
           
            height: 2.6rem !important;
           
        }
  
        .staffbox{
            border-bottom: 0.55px solid #DBDBDB;
                padding: 1px 13px;
                h2{
                        font-size: 14px;
                }
                h2,p{
                        white-space: pre-wrap !important;
                }
                
                .item-inner{
                    padding: 0px !important;
                }
        }

        .mint{
                margin: 9px 0px 9px 0 !important;
        p{
             
            font-size: 12px;
        }
        }


}
