page-forgotpassword {
	.circle{
	    background: #EBEBEB;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
	}
	.frgt{
	text-align:center;
		.frgt-txt{
		color: #383838;
	    font-weight: 600;
	    font-size: 14px;
		}
		.reset-txt{
			font-size: 14px;
    color: #707070;
    font-weight: 400;
		}
	}
}
